<% content_for :content do %>
    <div data-controller="board_list">
        <h1>Board#list</h1>
        <p>Find me in app/views/board/list.html.erb</p>
        <table class="table table-skinny table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Board</th>
                    <th scope="col">Thumbnail</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% @boards.each do |board| %>
                <tr>
                    <td><%= link_to board.title, board_path(board) %></td>
                    <td>Implement me later</td>
                    <td><% if user_signed_in? %>
                        <%= link_button game_new_path(:board_id => board.id), "Create Game", "dice" %>
                    <% end%></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>
<% content_for :right_nav do %>
<% end %>