<% content_for :content do %>
    <div data-controller="board">
        <svg id="svgarea" width=960 height=720 class="boardsvg" xmlns="http://www.w3.org/2000/svg"></svg>
    </div>
<% end %>
<% content_for :right_nav do %>
    <%= link_button game_new_path(:board_id => @board.id), "Create Game", "dice" %>
    <div id="info_box" style="overflow-wrap: break-word;">
<% end %>