<table class="table table-skinny table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Game</th>
            <th scope="col">Board</th>
            <th scope="col">Created</th>
            <th scope="col">Players</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <% game_collection.each do |game| %>
        <tr>
            <td><%= game.title %></td>
            <td><%= link_to game.board.title, board_path(game.board) %></td>
            <td><%= game.created_at %></td>
            <td><%= game.users.length %></td>
            <td><%= join_button(game) %></td>
            <td><%= leave_button(game, pending_only: true) %></td>
        </tr>
        <% end %>
    </tbody>
</table>