<% content_for :content do %>
    <div data-controller="game_list">
        <%= render partial: "game_table", locals: {game_collection: @browseable } %>
        <%= render partial: "game_table", locals: {game_collection: @joined } %>
    </div>
<% end %>
<% content_for :right_nav do %>
<% end %>