<h1>Game#new</h1>
<p>Find me in app/views/game/new.html.erb</p>
<%= form_with url: game_create_path, method: :post do |form| %>
    <p><%= board_title_form_elements(@board) %></p>
    <p><%= form.label :title, "Game name" %>
    <%= form.text_field :title %></p>
    <%= form.submit %>
<% end %>
