<% content_for :content do %>
    <div data-controller="game"
        data-game-board-id-value="<%= @game.board_id %>"
        data-game-game-id-value="<%= @game.to_param %>"
    >
        <svg id="svgarea" width=960 height=720 class="boardsvg" xmlns="http://www.w3.org/2000/svg"></svg>
    </div>
<% end %>
<% content_for :right_nav do %>
    <div id="info_box" style="overflow-wrap: break-word;">
<% end %>