<% content_for :content do %>
  <div data-controller="home">
    <h1>Home#index</h1>
    <p>Find me in app/views/home/index.html.erb</p>
  </div>
<% end %>
<% content_for :right_nav do %>
    <% if user_signed_in? %>
      <%= link_button users_manage_path, "Manage Users", "users" %>
    <% end %>
<% end %>