<% content_for :content do %>
    <div data-controller="users_manage">
        <h1>Users::Manage#edit</h1>
        <p>Find me in app/views/users/manage/edit.html.erb</p>
        <h2><%= @user.email %></h2>
        <p>Created at: <%= @user.created_at %></p>
        <%= form_with url: users_manage_update_path, method: :patch do |form| %>
            <input name="id" type="hidden" value="<%= @user.id %>" autocomplete="off">
            <input name="role[]" type="hidden" value="-1" autocomplete="off">
            <% Role.all.each do |role| %>
                <%= form.check_box "role[]", {checked: @user.has_role?(role.name), include_hidden: false}, role.id, role.id %>
                <%= form.label "role[]", role.name+" - "+role.description, {class:"mb-2"} %>
                </br>
            <% end %>
            <%= button_button "Save", "save" %>
        <% end %>
    </div>
<% end %>
<% content_for :right_nav do %>
    <%= link_button users_manage_path, "Manage Users", "users" %>
<% end %>