<% content_for :content do %>
    <div data-controller="users_manage">
        <h1>Users::Manage#show</h1>
        <p>Find me in app/views/users/manage/show.html.erb</p>
        <table class="table table-skinny table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">User id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Created At</th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= link_to user.email, users_path(user) %></td>
                    <td><%= user.created_at %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>
<% content_for :right_nav do %>
<% end %>
