/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $grey50:#808080;
 $grey30: lighten($color: $grey50, $amount: 20);
 $grey40: lighten($color: $grey50, $amount: 10);
 $grey60: darken($color: $grey50, $amount: 10);
 $grey80: darken($color: $grey50, $amount: 30);
 $table-bg: $grey40;

 @import "bootstrap";
 @import "jquery-ui.css";

 @import "font-awesome";

.right_nav {
    background: $grey50;
    padding: 1em;
    border-left: medium solid $grey60;
}

a {
    color: $grey80 !important;
}

.table-skinny {
    width: auto !important;
}

.view_container {
    background: $grey30;
    padding: 1em;
}
