$background_color: #E6BE8A;
$unexplored:#808080;
$starting:#777C2D;
$monster: #bf4040;
$vp:#40bfbf;
$treasure:#bfbf40;
$fist: #bf8040;
$explored: white;
$avail_lighten:20;

 .boardsvg {
    background-color:$background_color;
    border: medium solid darken($color: $background_color, $amount: 10);
 }

 .unexplored_cell {
    fill: $unexplored;
 }

 .available_cell {
    fill: lighten($color: $unexplored, $amount: $avail_lighten);
 }

 .explored_cell {
    fill: $explored;
 }

 .starting_cell {
    fill: $starting;
 }

 .monster_cell {
    fill: $monster;
 }

 .monster_available_cell {
    fill: lighten($color: $monster, $amount: $avail_lighten);
 }

 .vp_cell {
    fill: $vp;
 }

 .vp_available_cell {
    fill: lighten($color: $vp, $amount: $avail_lighten);
 }

 .treasure_cell {
    fill: $treasure;
 }

 .treasure_available_cell {
    fill: lighten($color: $treasure, $amount: $avail_lighten);
 }

 .fist_cell {
    fill: $fist;
 }

 .fist_available_cell {
    fill: lighten($color: $fist, $amount: $avail_lighten);
 }
