<!DOCTYPE html>
<html>
  <head>
    <title>Dice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="container-fluid min-vh-100 d-flex flex-column">
      <div class="row flex-grow-1">
        <div class="col-md-9 view_container">
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
        <div class="col-md-3 right_nav">
          <% if user_signed_in? %>
            <p>Welcome <%= current_user.email %></p>
            <%= link_button destroy_user_session_path, "Sign out", "sign-out", method: :delete %>
          <% else %>
            <%= link_button new_user_session_path, "Sign in", "sign-in" %>
          <% end %>
          <%= link_button root_path, "Home", "home" %>
          <% if user_signed_in? %>
            <%= link_button game_list_path, "Browse Games", "dice" %>
          <% end %>
          <%= link_button boards_show_path, "Browse Boards", "map" %>
          <%= yield :right_nav %>
        </div>
      </div>
    </div>
  </body>
</html>
